<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BachelorCave</title>

    <link
      rel="stylesheet"
      data-purpose="Layout StyleSheet"
      title="Default"
      disabled
      href="/css/app-af6a05f42b013986b481566363f0186f.css?vsn=d" />
    <link
      rel="stylesheet"
      data-purpose="Layout StyleSheet"
      title="Web Awesome"
      href="/css/app-wa-5498a6af9606f4bf5ea80b9d54f88b02.css?vsn=d" />

    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.3.0/css/all.css" />

    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.3.0/css/sharp-solid.css" />

    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.3.0/css/sharp-regular.css" />

    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav class="wrapper">
      <div class="brand-box">
        <div class="brand">
          <a href="/"><i class="fa-light fa-mountain-city"></i> BachelorCave</a>
        </div>
        <div class="nav-font">Area</div>
      </div>

      <div class="ol">
        <div class="li nav-font"><a href="/" class="log">login</a></div>
        <div class="li nav-font"><a href="/" class="sig">signup</a></div>
      </div>
    </nav>
  </body>
</html>
