<%- include("partials/header") -%>
<div class=" serch-bar top-margin wrapper">
  <form action="/result" method="post">
    <input type="text" name="search" value="<%= search %>" class="search-result">
    <button type="submit" class="s-b"><i class="fa-regular fa-magnifying-glass fa-lg"></i></button>
  </form>
</div>
<div class="found-msg wrapper ">Results found : 69</div>
<div class="results ">
  <div class="areas-label">
    <i class="fa-light fa-house fa-2xl"></i>
    <div>
      <h1>Do Rah! Areas</h1>
      <div class="sub-label">
        <span>132, My Street,</span>
        <span>Kanpur,Kingston 208032</span>
        <span>Uttar Pradesh</span>
        <span class="distance"><i class="fa-duotone fa-location-check"></i> 5Km</span>
        <a href="/" class="km">know more...</a>
      </div>
      
    </div>
    
  </div>
  <div class="image"></div>
  </div>
</div>








<div class="results ">
  <div class="areas-label">
    <i class="fa-light fa-house fa-2xl"></i>
    <div>
      <h1>Do Rah! Areas</h1>
      <div class="sub-label">
        <span>132, My Street,</span>
        <span>Kanpur,Kingston 208032</span>
        <span>Uttar Pradesh</span>
        <span class="distance"><i class="fa-duotone fa-location-check"></i> 5Km</span>
        <a href="/" class="km">know more...</a>
      </div>
      
    </div>
    
  </div>
  <div class="image"></div>
  </div>
</div>
<div class="results ">
  <div class="areas-label">
    <i class="fa-light fa-house fa-2xl"></i>
    <div>
      <h1>Do Rah! Areas</h1>
      <div class="sub-label">
        <span>132, My Street,</span>
        <span>Kanpur,Kingston 208032</span>
        <span>Uttar Pradesh</span>
        <span class="distance"><i class="fa-duotone fa-location-check"></i> 5Km</span>
        <a href="/" class="km">know more...</a>
      </div>
      
    </div>
    
  </div>
  <div class="image"></div>
  </div>
</div><div class="results ">
  <div class="areas-label">
    <i class="fa-light fa-house fa-2xl"></i>
    <div>
      <h1>Do Rah! Areas</h1>
      <div class="sub-label">
        <span>132, My Street,</span>
        <span>Kanpur,Kingston 208032</span>
        <span>Uttar Pradesh</span>
        <span class="distance"><i class="fa-duotone fa-location-check"></i> 5Km</span>
        <a href="/" class="km">know more...</a>
      </div>
      
    </div>
    
  </div>
  <div class="image"></div>
  </div>
</div><div class="results ">
  <div class="areas-label">
    <i class="fa-light fa-house fa-2xl"></i>
    <div>
      <h1>Do Rah! Areas</h1>
      <div class="sub-label">
        <span>132, My Street,</span>
        <span>Kanpur,Kingston 208032</span>
        <span>Uttar Pradesh</span>
        <span class="distance"><i class="fa-duotone fa-location-check"></i> 5Km</span>
        <a href="/" class="km">know more...</a>
      </div>
      
    </div>
    
  </div>
  <div class="image"></div>
  </div>
</div><div class="results ">
  <div class="areas-label">
    <i class="fa-light fa-house fa-2xl"></i>
    <div>
      <h1>Do Rah! Areas</h1>
      <div class="sub-label">
        <span>132, My Street,</span>
        <span>Kanpur,Kingston 208032</span>
        <span>Uttar Pradesh</span>
        <span class="distance"><i class="fa-duotone fa-location-check"></i> 5Km</span>
        <a href="/" class="km">know more...</a>
      </div>
      
    </div>
    
  </div>
  <div class="image"></div>
  </div>
</div><div class="results ">
  <div class="areas-label">
    <i class="fa-light fa-house fa-2xl"></i>
    <div>
      <h1>Do Rah! Areas</h1>
      <div class="sub-label">
        <span>132, My Street,</span>
        <span>Kanpur,Kingston 208032</span>
        <span>Uttar Pradesh</span>
        <span class="distance"><i class="fa-duotone fa-location-check"></i> 5Km</span>
        <a href="/" class="km">know more...</a>
      </div>
      
    </div>
    
  </div>
  <div class="image"></div>
  </div>
</div><div class="results ">
  <div class="areas-label">
    <i class="fa-light fa-house fa-2xl"></i>
    <div>
      <h1>Do Rah! Areas</h1>
      <div class="sub-label">
        <span>132, My Street,</span>
        <span>Kanpur,Kingston 208032</span>
        <span>Uttar Pradesh</span>
        <span class="distance"><i class="fa-duotone fa-location-check"></i> 5Km</span>
        <a href="/" class="km">know more...</a>
      </div>
      
    </div>
    
  </div>
  <div class="image"></div>
  </div>
</div><div class="results ">
  <div class="areas-label">
    <i class="fa-light fa-house fa-2xl"></i>
    <div>
      <h1>Do Rah! Areas</h1>
      <div class="sub-label">
        <span>132, My Street,</span>
        <span>Kanpur,Kingston 208032</span>
        <span>Uttar Pradesh</span>
        <span class="distance"><i class="fa-duotone fa-location-check"></i> 5Km</span>
        <a href="/" class="km">know more...</a>
      </div>
      
    </div>
    
  </div>
  <div class="image"></div>
  </div>
</div><div class="results ">
  <div class="areas-label">
    <i class="fa-light fa-house fa-2xl"></i>
    <div>
      <h1>Do Rah! Areas</h1>
      <div class="sub-label">
        <span>132, My Street,</span>
        <span>Kanpur,Kingston 208032</span>
        <span>Uttar Pradesh</span>
        <span class="distance"><i class="fa-duotone fa-location-check"></i> 5Km</span>
        <a href="/" class="km">know more...</a>
      </div>
      
    </div>
    
  </div>
  <div class="image"></div>
  </div>
</div><div class="results ">
  <div class="areas-label">
    <i class="fa-light fa-house fa-2xl"></i>
    <div>
      <h1>Do Rah! Areas</h1>
      <div class="sub-label">
        <span>132, My Street,</span>
        <span>Kanpur,Kingston 208032</span>
        <span>Uttar Pradesh</span>
        <span class="distance"><i class="fa-duotone fa-location-check"></i> 5Km</span>
        <a href="/" class="km">know more...</a>
      </div>
      
    </div>
    
  </div>
  <div class="image"></div>
  </div>
</div><div class="results ">
  <div class="areas-label">
    <i class="fa-light fa-house fa-2xl"></i>
    <div>
      <h1>Do Rah! Areas</h1>
      <div class="sub-label">
        <span>132, My Street,</span>
        <span>Kanpur,Kingston 208032</span>
        <span>Uttar Pradesh</span>
        <span class="distance"><i class="fa-duotone fa-location-check"></i> 5Km</span>
        <a href="/" class="km">know more...</a>
      </div>
      
    </div>
    
  </div>
  <div class="image"></div>
  </div>
</div>


<%- include("partials/footer") -%>
