<%- include("partials/header") -%>
<div class="Head">
    <h1 class="wrapper "> <i class="fa-solid fa-mountain-city"></i> BachelorCave</h1>
    <p class="wrapper">dundho ge toh milege na!</p>

    
    <form action="/result" method="post" class="wrapper">
        <input type="text" name="search"  class="search" placeholder="Enter your university !" required>
        <input type="submit" value="Go!">
    </form>
</div>


<%- include("partials/footer") -%>